@import "tailwindcss";

:root {
  --background: #fdfcf9; /* Warm paper color */
  --foreground: #1c1917; /* Soft stone black */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Added a smooth scroll behavior */
  scroll-behavior: smooth;
}