@import "tailwindcss";

:root {
  --background: #fdfcf9; 
  --foreground: #1c1917; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}
